.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav__logo {
  width: 4rem;
  border-radius: 20%;
  margin-left: 4rem;
}

.nav__title {
  margin-left: 2rem;
  font-size: 4rem;
}

.background {
  background-image: url("./assets/images/background.jpg");
  opacity: 90%;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.white-text {
  color: white;
}

.sections {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  height: 50vh;
}

.sections__cards {
    border: 2px solid white;
    border-radius: 15px;
    padding: 2rem;
}

.form__button, ::-webkit-file-upload-button {
  
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background: lightblue;
  color: black;
  border-radius: 8px;
  padding: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  transition: transform 200ms,background 200ms;

}

.form__button:hover, ::-webkit-file-upload-button:hover{
    transform: translateY(2px);
}

.returned__orderedlist{
  padding:0;
}

.returned__list {
 list-style: none;

}

.progress-bar__percentage {
  height:24px;
  color: #fff !important;
  background-color: #4CAF50!important
}
